{% load static %}
{% load active_link_tags %}

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link {% active_link 'admins:admin_dashboard' 'active' %}" aria-current="page" href="{% url 'admins:admin_dashboard' %}">
            <span data-feather="home"></span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active_link 'admins:pending_posts' 'active' %}" href="{% url 'admins:pending_posts' %}">
            <span data-feather="file"></span>
            Pending Posts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active_link 'admins:approved_posts' 'active' %}" href="{% url 'admins:approved_posts' %}">
            <span data-feather="shopping-cart"></span>
            Published Posts
          </a>
        </li>

    </div>
  </nav>