[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-decouple = "*"
django-widget-tweaks = "*"
pillow = "*"
django-crispy-forms = "*"
install = "*"
django-allauth = "*"
django-ckeditor = "*"
django-countries = "*"
django-taggit = "*"
readtime = "*"
django-comments-dab = "*"
djangorestframework = "*"
django-social-share = "*"
django-active-link = "*"
django-cleanup = "*"
django-s3direct = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
