{% extends "base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}

    <div class="container margin-top-120 margin-bottom-60" style="min-height: 100vh;">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h3 class="text-center my-4">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>

                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                        {% else %}
                            {% if form %}
                                <form method="POST" action="{{ action_url }}">
                                    {% csrf_token %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
    
                                    {% for field in form.visible_fields %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field|add_class:'form-control my-2' }}
                                        {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                    </div>
                                    {% endfor %}

                                    <input class="btn btn-maroon my-4" type="submit" name="action" value="{% trans 'change password' %}"/>
                                </form>
                            {% else %}
                                <p>{% trans 'Your password is now changed.' %}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>

    
{% endblock %}
