{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block content %}

    <div class="container margin-top-120 margin-bottom-60" style="min-height: 100vh;">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        {% if user.is_authenticated %}
    
                        {% include "account/snippets/already_logged_in.html" %}

                        {% else %}
                            <div class="text-center"><i class="fa fa-lock fa-4x"></i></div>
                            <h3 class="text-center my-3" id="head_banner">{% trans "Forgot Password?" %}</h3>

                            <form method="POST" class="container" id="forgot_password_form" action="{% url 'account_reset_password' %}">

                            <p class="text-muted" >{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            {% for field in form.visible_fields %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control my-2' }}
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endfor %}


                            <input class="btn btn-maroon my-3" type="submit" value="{% trans 'Reset My Password' %}" />

                            <p class="text-muted">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>


                            </form>

                            

                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>

    

{% endblock %}
