{% extends "base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}

    <div class="container margin-top-120 margin-bottom-60" style="min-height: 100vh;">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="alert alert-success" role="alert">
                    {% trans 'Your password is now changed.' %}
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}
