{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %} {% trans "Set Password" %} {% endblock title %}

{% block stylesheet %}{% endblock stylesheet %}

{% block content %}
<div class="container margin-top-80 pt-3 margin-bottom-60" style="min-height: 100vh;">
    <div class="row">
        <div class="col-lg-3 nav-pills">
            {% include 'dashboard/includes/sidebar.html' %}
        </div>
        <div class="col-lg-9">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h3 class="h3" id="head_banner">{% trans "Set Password" %}</h3>

                    <form class="container-fluid text-center" method="POST" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label class="my-3" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                        </div>
                        {% endfor %}

                        <input class="btn btn-maroon btn-lg" type="submit" name="action" value="{% trans 'Set Password' %}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}{% endblock javascript %}