{% extends 'dashboard-base.html' %}
{% load static %}

{% block content %}
 
<div class="container">
    <div class="card">
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="alert alert-warning" role="alert">Do you want to delete <strong>{{object.name}}</strong>?</div>
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}