{% extends 'base.html' %} 

{% block title %}About Us {% endblock %} 

{% block stylesheet %}
<style>
    p{
        font-family: 22px;
    }
</style>
 {% endblock stylesheet %} 

{% block content %}
<div class="container" style="min-height: 100vh;">
    <div class="row margin-top-120 margin-bottom-60">
        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <h3 class="my-3"><strong>About Us</strong></h3>
                <p><b>Sogea Community</b> – Is the platform help people to upscale their skills and knowledge in Agriculture, Financial and Information Technology (IT). Registered as "SOGEA PLATFORM" with no. 488687 as Business Name. The Platform developed and Managed by <a class="text-primary" href="https://technologyhomesite.com">Technology Homesite</a> , - Tanzania Software Development Company.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 

{% block javascript %} {% endblock javascript %}