
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.text-maroon {
  color: #c1272d;
}
.margin-top-60{
  margin-top: 60px;
}
.margin-top-80{
  margin-top: 80px;
}
.margin-top-120{
  margin-top: 120px;
}
.padding-top-60{
  padding-top: 60px;
}
.padding-top-80{
  padding-top: 80px;
}

.margin-bottom-60{
  margin-bottom: 60px;
}
.margin-bottom-80{
  margin-top: 80px;
}
.margin-bottom-110{
  margin-top: 110px;
}
.margin-bottom-120{
  margin-top: 120px;
}
.padding-bottom-60{
  padding-top: 60px;
}
.padding-bottom-80{
  padding-top: 80px;
}

.bg-site{
  background-color: #eceff3;
}
.bg-marron {
  background-color:#c1272d;
}
.bg-white{
  background-color: #fff;
}
.bg-dark{
  background-color: #000;
}
.bg-gray{
  background-color: #d2d6db;
}
.btn-maroon {
  color: #fff;
  background-color: #c1272d;
  border-color: #c1272d;
}
.btn-maroon:hover{
  color:#fff;
  background-color:#c1272d;
  border-color:#c1272d
}
.btn-outline-maroon {
  color: #c1272d;
  border-color: #c1272d;
}
.btn-facebook {
  background-color: #3B5998;
  border-color:#3B5998;
  color: white;
  }
  .btn-facebook:hover{
    color:#fff;
    background-color:#3B5998;
    border-color:#3B5998
  }
  
.btn-google {
  background-color: #dd4b39;
  color: white;
  border-color:#dd4b39
  }
  .btn-google:hover{
    color:#fff;
    background-color:#dd4b39;
    border-color:#dd4b39
  }
.btn-linkedin {
  background: #0e76a8;
  color: white;
  border-color:#0e76a8
}
.btn-linkedin:hover{
  color:#fff;
  background-color:#0e76a8;
  border-color:#0e76a8
}
.border-maroon {
  border-color: #c1272d!important;
}
.form-control:focus {
  box-shadow:none !important;
  outline:0px !important;
  border-color: #4d3bec;
}

.btn-maroon:focus{
  color: #fff;
  box-shadow:none !important;
  outline:0px !important;
} */

 .btn-maroon:active{
  color: #fff;
  box-shadow:none !important;
  outline:0px !important;
}


.btn-outline-maroon:focus,
.btn-outline-maroon:active{
  color: #c1272d;
  box-shadow:none !important;
  outline:0px !important;
}

.fa:hover {
  opacity: 0.7;
}

.offcanvas-header{ 
    display:none !important; 
}

.offcanvas-card{
    display:none !important;
}

.logo-mobile{
  display:none !important;
}

.offcanvas-header h5{
    font-weight:600;
}
.sidebar{
  display:none !important;
}

#search-form{
  width: 40%;
}

#mobile-search-form{
  width: 100%;
}

#search-form .form-control{
  padding: .475rem .55rem;
  font-size: 1.0rem;
}
#search-form input:focus,
#search-form input:active{
  color: #000;
  box-shadow:none !important;
  outline:0px !important;
}

.screen-overlay {
    height: 100%;
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    opacity:0;
    visibility:hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition:opacity .2s linear, visibility .1s, width 1s ease-in;
  }

  .screen-overlay.show {
    transition:opacity .5s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
  }

@media (max-width: 991.98px) {

    main{
      padding-right: 3%;
      padding-left: 3%;
    }

    .offcanvas-header{ display:block!important; }
    .offcanvas-card{display: block!important;}
    .logo-mobile{display: block!important;}
    .logo-desktop{display:none !important;}
    .sidebar{display:block !important;}
    

    .offcanvas-margin{
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .offcanvas-collapse {
        display:block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 80%;
        height: 100%;
        
        z-index: 1200;
        transform:translateX(-100%);

        
        overflow-y: scroll;
        overflow-x: hidden;
        visibility: hidden;
        background-color: #fff;
        transition: visibility .2s ease-in-out, transform .2s ease-in-out;
        }

        .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(0);
        }
    }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
  }
  
  .nav-underline .nav-link:hover {
    color: #007bff;
  }
  
  .nav-underline .active {
    font-weight: 500;
    color: #343a40;
  }
  

  a{
    text-decoration:none;
  }
  a{
    color: rgb(39, 39, 39);
  }

  .footer a:link,
  .footer a:visited {
    color: rgb(39, 39, 39);
  }

  .footer a:hover,
  .footer a:active {
    color: blue;
  }

  .login-picture{
    background-image: url('../images/login-picture.jpg');
    background-size:cover;
    background-repeat: no-repeat;
  }

  .form-signin {
    width: 100%;
    max-width: 480px;
    margin: auto;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    box-shadow:none !important;
    outline:0px !important;
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .header-dash-drop .image-circle{
    width: 50px;
    height: 50px;
    border: 2px solid #51D2B7;
  }