    {% load static %}

    <footer class="footer container-fluid pt-5 pb-3 bg-gray text-muted text-center text-small">
        <div class="row">
            <div class="col-12 col-md">
                <ul class="list-inline ">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="#">Job Listing</a></li>
                    <li class="list-inline-item"><a href="#">Podcast</a></li>
                    <li class="list-inline-item"><a href="#">Videos</a></li>
                    <li class="list-inline-item"><a href="#">Tags</a></li>
                    <li class="list-inline-item"><a href="#">Code of Conduct</a></li>
                    <li class="list-inline-item"><a href="#">FAQ</a></li>
                    <li class="list-inline-item"><a href="#">Sponsors</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md">
                <ul class="list-inline ">
                    <li class="list-inline-item"><a href="#">About</a></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Terms of use</a></li>
                    <li class="list-inline-item"><a href="#">contact</a></li>
                    <li class="list-inline-item"><a href="#"><b>Login</b></a></li>
                    <li class="list-inline-item"><a href="#"><b>Signup</b></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md">
                <p class="mb-3"><b>Sogea Community</b> – Is the platform help people to upscale their skills and knowledge for Tech, social, entrepreneur, financial, cultural etc. <br>The Platform developed and Managed by <a href="http://technologyhomesite.com" target="_blank"></a><b>Technology Homesite, - </b><small>Tanzania Software Development Company</small></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md icon border-bottom border-light">
                <ul class="list-inline ">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-github-square fa-2x"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-youtube-play fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md mt-3">
                <p class="mb-1">Made with love and Django Framework. <b>Sogea Community</b>  &copy; 2021 - <script>document.write(new Date().getFullYear())</script></p>
            </div>
        </div>
    </footer>