    {% load static %}
    {% load account socialaccount %}
    
    <b class="screen-overlay"></b>

    <nav class="navbar navbar-expand-lg fixed-top bg-white navbar-light shadow-sm" aria-label="Main navigation">
        <div class="container-fluid mx-lg-5">
            <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand logo-desktop" href="/">
                <img src="{% static 'images/logo-desktop.png' %}" alt="logo">
            </a>
            <a class="navbar-brand logo-mobile" href="/">
                <img src="{% static 'images/logo-mobile.png' %}" alt="logo">
            </a>

            <form class="d-none d-sm-block" id="search-form" method="GET" action="{% url 'posts:search' %}">
                <div class="input-group mb-3 mt-2">
                    <input type="search" id="form1" name="query" class="form-control" placeholder="Search...." value="{{values.query}}">
                    <button type="submit" class="btn btn-maroon">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">

                <div class="offcanvas-header pt-3 border-bottom border-maroon">
                    <div class="row offcanvas-margin">
                        <div class="col-10 d-flex justify-content-start">
                            <img src="{% static 'images/offcanvas-logo.png' %}" alt="logo">
                        </div>
                        <div class="col-2 d-flex justify-content-end">
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

                <div class="card offcanvas-card bg-light my-3 border-0">
                    <div class="card-body d-grid gap-2">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'account_logout' %}" class="btn btn-secondary" type="button">logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="btn btn-maroon">Create Account</a>
                        <a href="{% url 'account_login' %}" class="btn btn-outline-maroon" type="button">login</a> 
                        <h5 class="text-center my-2">OR</h5>
                        {% get_providers as socialaccount_providers %}
                                {% for provider in socialaccount_providers %}
                                    <a title="{{provider.name}}" class="btn {% if provider.name == 'Google' %}btn-google{% endif %}"  
                                 href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i class="fa fa-{{provider.name|lower}} me-2" id="social_icon"></i>Login with {{provider.name}}</a>
                                {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <!-- <ul class="sidebar navbar-nav me-auto mb-2 mb-lg-0 offcanvas-margin">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa fa-home me-2"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-home me-2"></i>
                            Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-home me-2"></i>
                            Profile</a>
                    </li>
                </ul> -->
            </div>

            <div class="d-flex justify-content-end">
                <div class="nav-item d-md-none">
                    <a class="nav-link text-maroon" href="{% url 'posts:search' %}">
                        <i class="fa fa-search fa-2x"></i>
                    </a>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="nav-item d-none d-md-block">
                        <a class="btn btn-maroon py-2" href="{% url 'posts:create_post' %}">Write Post</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link text-maroon me-2" href="#">
                            <i class="fa fa-bell-o fa-2x"></i>
                        </a>
                    </div>
                    <ul class="nav header-dash-drop">
                        <li class="nav-item dropdown">
                            <img class="dropdown-toggle image-circle rounded-circle" data-bs-toggle="dropdown" src="{{user.profile.profile_picture.url}}" alt="profile-image" role="button" aria-expanded="false">
                            <ul class="dropdown-menu dropdown-menu-end border-maroon">
                              <li><div class="dropdown-item me-3"><small>@{{user.username}}</small></div>
                                </li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item me-3" href="{% url 'dashboard:profile_update' user.id %}"><i class="fa fa-pencil text-maroon"></i> Update Profile</a></li>
                              <li><a class="dropdown-item me-3" href="{% url 'dashboard:dashboard' %}">
                                <i class="fa fa-tachometer text-maroon" aria-hidden="true"></i> Dashboard</a></li>
                              <li><a class="dropdown-item me-3" href="{% url 'posts:create_post' %}">
                                <i class="fa fa-pencil-square-o text-maroon" aria-hidden="true"></i>
                                Write a Post</a></li>
                              <li><a class="dropdown-item me-3" href="{% url 'dashboard:reading_list' %}">
                                <i class="fa fa-eye text-maroon" aria-hidden="true"></i>  Reading list</a></li>
                              <li><a class="dropdown-item me-3" href="{% url 'account_logout' %}">
                                <i class="fa fa-sign-out text-maroon" aria-hidden="true"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                {% else %}
                    <div class="nav-item d-none d-sm-block">
                        <a class="nav-link text-maroon me-2" aria-current="page" href="{% url 'account_login' %}">Login</a>
                    </div>
                    <div class="nav-item">
                        <a class="btn btn-maroon py-2" href="{% url 'account_signup' %}">Create account</a>
                    </div>
                {% endif %}
           
            </div>
        </div>
     </nav>