{% load static %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/toastr.min.js' %}"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>


<script>
    {% if messages %}
        document.addEventListener("DOMContentLoaded", function(event) {
            toastr.options = { "closeButton": true, "debug": false, "newestOnTop": true,
                "progressBar": false, "positionClass": "toast-top-right", "preventDuplicates": true,
                "onclick": null, "showDuration": "300", "hideDuration": "1000", "timeOut": "5000",
                "extendedTimeOut": "1000", "showEasing": "swing", "hideEasing": "linear",
                "showMethod": "fadeIn", "hideMethod": "fadeOut" };
            {% autoescape off %}
                {% for msg in messages %}
                    toastr.{{ msg.level_tag }}("{{ msg }}");
                {% endfor %}
            {% endautoescape %}
        });
    {% endif %}
</script>