{% load widget_tweaks %}
<h3>Update Comment</h3>
<button aria-label="Close modal" class="close-button" data-close type="button">
    <span aria-hidden="true">&times;</span>
</button>
<form action="{% url 'update-comment' pk=comment.pk %}" id="comment-update-form"
      method="post" data-url="{% url 'update-comment' pk=comment.pk %}"  data-comment="{{ comment.pk }}">
    {% csrf_token %}
    <div class="grid-x grid-margin-x">
        <div class="cell small-12">
            {% if form.text.errors %}
                    {% render_field form.text cols="30" placeholder="Message" class="form-input error"%}
                    <small class="text-error">{{ error }}</small>
            {% else %}
                {% render_field form.text cols="30" placeholder="Message" class="form-input"%}
            {% endif %}
        </div>
        <!-- submit button-->
        <div class="cell small-12 submit-button">
            <button class="button" type="submit">Update Comment</button>
        </div>
    </div>
</form>
