<form action="" id="form" method="post">
    <div class="grid-x grid-margin-x">
        <!-- form-1 -->
        <div class="cell small-12 ">
            <input class="form-input" placeholder="Name*" type="text">
        </div>
        <div class="cell small-12">
            <input class="form-input" placeholder="Name*" type="text">
        </div>
        <!-- form-2-->
        <div class="cell small-12">
            <input class="form-input" placeholder="Name*" type="text">
        </div>
        <div class="cell small-12">
            <input class="form-input" placeholder="Name*" type="text">
        </div>
        <!-- Messages -->
        <div class="cell small-12">
            <textarea class="form-input" cols="30" id="" placeholder="Message"
                      rows="10"></textarea>
        </div>
        <!--checkbox -->
        <div class="cell small-12">
            <label style="color: #666;">
                <input style="width: 19px;height: 19px;outline-color: transparent;   background-color: #fafbfc;border: none"
                       type="checkbox">
                i agree to terms
            </label>
        </div>
        <!-- submit button-->
        <div class="cell small-12 submit-button">
            <button class="button" type="submit">login</button>
        </div>
    </div>
</form>
