{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Feeds{% endblock title %}

{% block stylesheet %}
    <style>
        .card:hover{
            border: 2px solid maroon;
        }
        .card .title {
            font-size: 28px;
            font-weight:700;
        }
        .card .title:hover{
            color: maroon;
            cursor: pointer;
        }
        .card .image-circle{
            width: 30px;
            height: 30px;
            border: 1px solid rgb(197, 181, 181);
        }
        .card a:hover{
            color: maroon;
        }
        .author {
            font-size: 13px;
        }
    </style>
{% endblock stylesheet %}

{% block content %}

{% endblock %}

{% block javascript %}{% endblock javascript %}