{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% load comment_tags %}

{% block title %}Feeds{% endblock title %}

{% block stylesheet %}
    <style>
        .card:hover{
            border: 2px solid maroon;
        }
        .card .title {
            font-size: 28px;
            font-weight:700;
        }
        .card .title:hover{
            color: maroon;
            cursor: pointer;
        }
        .card .image-circle{
            width: 30px;
            height: 30px;
            border: 1px solid rgb(197, 181, 181);
        }
        .card a:hover{
            color: maroon;
        }
        .author {
            font-size: 13px;
        }
    </style>
{% endblock stylesheet %}

{% block content %}
<main>
    <div class="position-relative overflow-hidden padding-top-80">
        <div class="row">
            <div class="col-lg-3 pt-3 pb-5 d-none d-lg-block">
                {% include 'main/includes/sidebar.html' %}
                
            </div>
            <div class="col-lg-6 mt-3">
                <div class="row">
                    <div class="col-3">
                        <h5><b>Posts</b></h5>
                    </div>
                    <div class="col-9 d-flex justify-content-end">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#"><b>Latest</b></a></li>
                            <li class="list-inline-item"><a href="#">Week</a></li>
                            <li class="list-inline-item"><a href="#">Month</a></li>
                            <li class="list-inline-item"><a href="#">Year</a></li>
                            
                        </ul>
                    </div>
                </div>

                
                    <a href="{% url 'main:post_detail' p_ft.slug %}">
                    <div class="card mb-3">
                        <img src="{{p_ft.featured_image.url}}" class="card-img-top" height="auto" width="100%" alt="{{p_ft.title}}">
                        <div class="card-body">
                            <h5 class="title card-title">{{p_ft.title}}</h5>
                            <ul class="list-inline">
                                <li class="list-inline-item"><img class="image-circle rounded-circle"src="{{p_ft.author.profile.profile_picture.url}}" alt="{{p_ft.title}}"></li>
                                <li class="author list-inline-item">@{{p_ft.author.username}}</li>
                            </ul>
                            
                            <small class="py-3"> 
                                {% for mt in common_tags %}
                                <a href="#">
                                    <span class="badge bg-success">#{{mt}}</span>
                                </a>
                                {% endfor %}
                            </small>
                            <div class="row mt-3">
                            <div class="col-6">
                                <a class="me-3" href="#"><i class="fa fa-thumbs-o-up me-2"></i> 7 likes</a>
                                <a href="#"><i class="fa fa-comments-o me-2"></i> {% get_comments_count p_ft user %} comments</a>
                            </div>
                            <div class="col-6">
                                <div class="d-flex d-flex justify-content-end">
                                    <small class="text-muted me-3">4 min read</small>
                                    <a href="#"><i class="fa fa-bookmark-o"></i></a>
                                </div>
                            </div>
                            </div>
                        
                        </div>
                    </div>
                </a>
               

                {% for post in posts_list %}
                <a href="{% url 'main:post_detail' post.slug %}">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="title card-title">{{post.title}}</h5>
                            <ul class="list-inline">
                                <li class="list-inline-item"><img class="image-circle rounded-circle"src="{{post.author.profile.profile_picture.url}}" alt="{{post.title}}"></li>
                                <li class="author list-inline-item">@{{post.author.username}}</li>
                            </ul>
                            
                            <small class="py-3"> 
                                {% for t in post.tags.all %}
                                <a href="#">
                                    <span class="badge bg-success">#{{t}}</span>
                                </a>
                                {% endfor %}
                            </small>
                            <div class="row mt-3">
                            <div class="col-6">
                                <a class="me-3" href="#"><i class="fa fa-thumbs-o-up me-2"></i> 7 likes</a>
                                <a href="#"><i class="fa fa-comments-o me-2"></i> {% get_comments_count post user %} comments</a>
                            </div>
                            <div class="col-6">
                                <div class="d-flex d-flex justify-content-end">
                                    <small class="text-muted me-3">4 min read</small>
                                    <a href="#"><i class="fa fa-bookmark-o"></i></a>
                                </div>
                            </div>
                            </div>
                        
                        </div>                   
                    </div>
                </a>
                
                {% endfor %}
            </div>
            <div class="col-lg-3 my-3">
                <div class="card">
                    <div class="card-body bg-marron text-light">
                        <h1 class="my-3">Sogea<br>Newsletter</h1>
                        <p>Join the newsletter to receive the latest updates in your inbox.</p>
                        <input class="form-control" type="text" name="email" placeholder="Your Email Address">
                        <div class="d-grid gap-2 my-3">
                            <button type="submit" class="btn btn-dark py-2">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>

  </main>
{% endblock %}

{% block javascript %}{% endblock javascript %}