{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% load widget_tweaks %}
{% load active_link_tags %}

{% block title %}All Feeds{% endblock title %}

{% block stylesheet %}
    <style>
        .card:active{
            border: 2px solid maroon;
        }
        .card .title {
            font-size: 28px;
            font-weight:700;
        }
        .card .title:hover{
            color: maroon;
            cursor: pointer;
        }
        .card .image-circle{
            width: 30px;
            height: 30px;
            border: 1px solid rgb(197, 181, 181);
        }
        .card a:hover{
            color: maroon;
        }
        .author {
            font-size: 13px;
        }
        .card i{
            cursor: pointer;
        }
        .card-img-top {
            width: 100%;
            height: 330px;
            object-fit: cover;
        }
        .active{
            color:blue;
            font-weight: 600;
        }
    </style>
{% endblock stylesheet %}

{% block content %}
<main>
    <div class="position-relative overflow-hidden padding-top-80">
        <div class="row">
            <div class="col-lg-2 pt-3 pb-5 d-none d-lg-block">
                {% include 'main/includes/sidebar.html' %}
                
            </div>
            <div class="col-lg-7 mt-3">
                <div class="row">
                    <div class="col-3">
                        <h5><b>Posts</b></h5>
                    </div>
                    <div class="col-9 d-flex justify-content-end">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="{% active_link 'main:homepage' 'active' strict=True %}" href="{% url 'main:homepage' %}">Latest</a></li>
                            <li class="list-inline-item"><a class="{% active_link 'main:yesterday_posts' 'active' strict=True %}" href="{% url 'main:yesterday_posts' %}">Yesterday</a></li>
                            <li class="list-inline-item"><a class="{% active_link 'main:week-post' 'active' strict=True %}" href="{% url 'main:week-post'  %}">Week</a></li>
                            <li class="list-inline-item"><a class="{% active_link 'main:month-post' 'active' strict=True %}" href="{% url 'main:month-post' %}">Month</a></li>                           
                        </ul>
                    </div>
                </div>

                {% if p_ft %}
                    <a href="{% url 'main:post_detail' p_ft.slug %}">
                    <div class="card mb-3 border-0 shadow-sm">
                        <img src="{{p_ft.featured_image.url}}" class="card-img-top" alt="{{p_ft.title}}">
                        <div class="card-body">
                            <h5 class="title card-title">{{p_ft.title}}</h5>
                            <ul class="list-inline">
                                <li class="list-inline-item"><img class="image-circle rounded-circle"src="{{p_ft.author.profile.profile_picture.url}}" alt="{{p_ft.title}}"></li>
                                <li class="author list-inline-item">@{{p_ft.author.username}}</li>
                            </ul>
                            
                            <small class="py-3"> 
                                {% for mt in common_tags %}
                                <a href="#">
                                    <span class="badge bg-success">#{{mt}}</span>
                                </a>
                                {% endfor %}
                            </small>
                            <div class="row mt-3">
                            <div class="col-6">
                                {% if request.user.is_authenticated %}
                                    {% if p_ft.id in already_liked %}
                                        <a name="{{p_ft.id}}" class="likin" id="co" style="color: blue;"><i class="fa fa-thumbs-o-up me-2"></i></a><span class="me-3 like-count-{{p_ft.id}}">{{p_ft.total_likes}}</span>
                                    {% else %}
                                        <a name="{{ p_ft.id }}" style="color: black;" class="likin" id="co"><i class="fa fa-thumbs-o-up me-2" aria-hidden="true"></i></a><span class="me-3 like-count-{{p_ft.id}}">{{p_ft.total_likes}}</span>
                                    {% endif %}
                                {% else %}
                                    <a name="{{ p_ft.id }}" style="color: black;" class="likin" href="{% url 'account_login' %}" id="co"><i class="fa fa-thumbs-o-up me-2" aria-hidden="true"></i></a><span class="me-3 like-count-{{p_ft.id}}">{{p_ft.total_likes}}</span>
                                {% endif %} 

                                <a href=""><i class="fa fa-comments-o me-2"></i> 23 </a>
                            </div>
                            <div class="col-6">
                                <div class="d-flex d-flex justify-content-end">
                                    <small class="text-muted me-3">{{p_ft.get_readtime}} read</small>
                                </div>
                            </div>
                            </div>
                        
                        </div>
                    </div>
                    </a>
                {% endif %}
               

                {% for post in posts_list %}
                <a href="{% url 'main:post_detail' post.slug %}">
                    <div class="card mb-2 border-0 shadow-sm">
                        <div class="card-body">
                            <h5 class="title card-title">{{post.title}}</h5>
                            <ul class="list-inline">
                                <li class="list-inline-item"><img class="image-circle rounded-circle"src="{{post.author.profile.profile_picture.url}}" alt="{{post.title}}"></li>
                                <li class="author list-inline-item">@{{post.author.username}}</li>
                            </ul>
                            
                            <small class="py-3"> 
                                {% for t in post.tags.all %}
                                <a href="#">
                                    <span class="badge bg-success">#{{t}}</span>
                                </a>
                                {% endfor %}
                            </small>
                            <div class="row mt-3">
                            <div class="col-6">
                                {% if request.user.is_authenticated %}
                                    {% if post.id in already_liked %}
                                        <a name="{{post.id}}" class="latest-likin" id="co" style="color: blue;"><i class="fa fa-thumbs-o-up me-2"></i></a><span class="me-3 likes-count-{{post.id}}">{{post.total_likes}}</span>
                                    {% else %}
                                        <a name="{{ post.id }}" style="color: black;" class="latest-likin" id="co"><i class="fa fa-thumbs-o-up me-2" aria-hidden="true"></i></a><span class="me-3 likes-count-{{post.id}}">{{post.total_likes}}</span>
                                    {% endif %}
                                {% else %}
                                    <a name="{{ post.id }}" style="color: black;" class="latest-likin" href="{% url 'account_login' %}" id="co"><i class="fa fa-thumbs-o-up me-2" aria-hidden="true"></i></a><span class="me-3 likes-count-{{post.id}}">{{post.total_likes}}</span>
                                {% endif %}


                                <a href=""><i class="fa fa-comments-o me-2"></i> 767 </a>
                            </div>
                            <div class="col-6">
                                <div class="d-flex d-flex justify-content-end">
                                    <small class="text-muted me-3">{{post.get_readtime}} read</small>
                                </div>
                            </div>
                            </div>
                        
                        </div>                   
                    </div>
                </a>
                
                {% endfor %}
            </div>
            <div class="col-lg-3 my-3">
                <div class="card">
                    <div class="card-body bg-maroon text-light">
                        <h1 class="my-3">Sogea<br>Newsletter</h1>
                        <p>Join the newsletter to receive the latest updates in your inbox.</p>
                        <form method="POST" action="{% url 'marketing:email-list-signup' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                {% render_field form.email class="form-control" placeholder="Your Email Address" %}
                                <div class="d-grid gap-2 my-3">
                                    <button type="submit" class="btn btn-dark py-2">Subscribe</button>
                                </div> 
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
      
    </div>

  </main>
{% endblock %}

{% block javascript %}

<script>
    // AJAX CALL - Featured Post
    $('.likin').click(function(){
        var postID = $(this).attr('name');
        console.log(postID);

        $.ajax({
            type: "POST",
            url: "{% url 'posts:save_likes' %}",
            data: {'content_id': $(this).attr('name'),'operation':'like_submit','csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: "json",
            success: function(response) {
            selector = document.getElementsByName(response.content_id);

            var _prevlike=$(".like-count-"+postID).text();

            console.log(_prevlike)

                if(response.liked==true){
                    $(selector).css("color","blue");
                    $(".like-count-"+postID).text(parseInt(_prevlike)+1);  
                }
                else if(response.liked==false){
                    $(selector).css("color","black");
                    $(".like-count-"+postID).text(parseInt(_prevlike)-1);
                }
            }
        });
    })
</script>

<script>
    // AJAX CALL - Latest Post
    $('.latest-likin').click(function(){
        var postID = $(this).attr('name');
        console.log(postID);

        $.ajax({
            type: "POST",
            url: "{% url 'posts:save_likes' %}",
            data: {'content_id': $(this).attr('name'),'operation':'like_submit','csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: "json",
            success: function(response) {
            selector = document.getElementsByName(response.content_id);

            var _prevlike=$(".likes-count-"+postID).text();

            console.log(_prevlike)

                if(response.liked==true){
                    $(selector).css("color","blue");
                    $(".likes-count-"+postID).text(parseInt(_prevlike)+1);  
                }
                else if(response.liked==false){
                    $(selector).css("color","black");
                    $(".likes-count-"+postID).text(parseInt(_prevlike)-1);
                }
            }
        });
    })
</script>

{% endblock javascript %}