<div class="my-5 comment-form-section">
    <div class="card-section post-content">
        <form action="{% url 'posts:create-comment' post_pk=post.pk %}" id="comment-form" method="post" data-url="{% url 'posts:create-comment' post_pk=post.pk %}">
            {% csrf_token %}
            <div class="grid-x">
                <div class="cell">
                    <h3 class="legend" id="comment_counter" data-count="{{ post.comment_set.count }}">{{ post.comment_set.count }} Comments</h3>
                </div>
                <div class="cell small-12 medium-12">
                    <textarea class="form-control comment-form-input" cols="25" id="id_text" name="text" placeholder="Start write your comment here ....." rows="3" data-login-url="{% url 'account_login' %}?next={{request.path}}" data-ajax-authenticator = "{% url 'posts:ajax_authenticate_user' %}"></textarea>
                </div>
                <div class="my-3 cell small-12 medium-12">
                    <button class="btn btn-maroon button comment-form-submit-button" type="submit" id="id_comment_submit"> Submit </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="comment_container"></div>
    
    {% for comment in post.comment_set.all %}
    <div class="my-3 d-flex flex-column comment" id="comment_{{ comment.pk }}">
        <div class="d-flex flex-row user-info">
            <img class="rounded-circle me-2" src="{{ comment.author.profile_picture.url }}" width="40" height="40">
            <div class="d-flex flex-column ml-2">
                <span class="d-block font-weight-bold">@{{ comment.author.user.username }}</span><span class="date text-black-50">{{ comment.date|date:"d M, Y" }}</span>
            </div>   
        </div>
        <div class="mt-2">
            <p class="comment-text">{{ comment.text|safe }}</p>
        </div>

        <div class="d-flex flex-row fs-12">
            <div class="like-button p-2 cursor">
                <i class="fa fa-thumbs-o-up me-2"></i><span class="ml-1">Like</span>
            </div>
            <a href="#comments_{{ comment.pk }}" class="like p-2 cursor" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="comments_{{ comment.pk }}"><i class="fa fa-comment-o me-2"></i><span class="ml-1">{% if comment.reply_set.count %}{{ comment.reply_set.count }} Replies {% else %}Reply {% endif %}</span></a>
            {% if profile %}
                {% if comment.author.pk == profile.pk %}
                <a href="{% url 'posts:update-comment' pk=comment.pk %}" class="p-2 js-update-comment" data-url="{% url 'posts:update-comment' pk=comment.pk %}"><i class="fa fa-pencil me-2"></i><span class="ml-1">Edit</span></a>

                <a href="{% url 'posts:delete-comment' pk=comment.pk %}" data-url="{% url 'posts:delete-comment' pk=comment.pk %}" class="p-2 js-delete-comment" data-comment="{{ comment.pk }}"><i class="fa fa-times-circle me-2"></i><span class="ml-1">Delete</span></a>
                {% endif %}
            {% endif %}
        </div>

        <div id="comments_{{ comment.pk }}" class="collapse p-2 ms-3">
            <form class="mb-3" action="{% url 'posts:create-reply' comment_pk=comment.pk %}" id="reply-form" method="post" data-url="{% url 'posts:create-reply' comment_pk=comment.pk %}">
                {% csrf_token %}
                <div class="d-flex flex-row align-items-start">
                    {% if request.user.is_authenticated %}
                    <img class="rounded-circle me-2" src="{{ user.profile.profile_picture.url }}" width="40" height="40">
                    {% endif %}
                    <textarea class="reply-comment form-control ml-1 shadow-none textarea me-2" cols="15" rows="2" name="reply-text" placeholder="write a reply ..."></textarea>
                    <button class="btn btn-primary btn-sm" type="submit">submit</button>
                </div>
            </form>

            <div class="my-2 reply-container reply-container_{{ comment.pk }}">
                {% for reply in comment.reply_set.all %}
                <div class="d-flex flex-column" id="reply_{{ reply.pk }}">
                    <div class="d-flex flex-row user-info">
                        <img class="rounded-circle me-2" src="{{ reply.author.profile_picture.url }}" width="40" height="40">

                        <div class="d-flex flex-column ml-2">
                            <span class="d-block font-weight-bold">@{{ reply.author.user.username }}</span>
                            <ul class="list-inline text-black-50">
                                <li class="list-inline-item">{{ reply.date|date:"d M, Y" }}</li>
                                {% if reply.author.pk == profile.pk %}
                                <li class="list-inline-item"><a href="{% url 'posts:update-reply' pk=reply.pk %}" data-url="{% url 'posts:update-reply' pk=reply.pk %}" class=" js-update-reply" data-reply="{{ reply.pk }}"><i class="fa fa-pencil me-2"></i><span class="ml-1">Edit</span></a></li>
                                <li class="list-inline-item"> <a href="{% url 'posts:delete-reply' pk=reply.pk %}" data-url="{% url 'posts:delete-reply' pk=reply.pk %}" class="p-2 js-delete-reply" data-reply="{{ reply.pk }}"><i class="fa fa-times-circle me-2"></i><span class="ml-1">Delete</span></a></li>
                                {% endif %}
                            </ul>
                        </div>   
                    </div>
                    <div class="reply-content">
                        <p>{{ reply.text|safe }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

       

    </div>
    {% endfor %}
