{% load active_link_tags %}

<div class="d-lg-none mb-3">
    <div class="dropdown">
        <button class="btn btn-maroon dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          MENU
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
          <li> <a class="dropdown-item {% active_link 'dashboard:dashboard' 'active' %}" href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
    
          <li><a class="dropdown-item {% active_link 'dashboard:reading_list' 'active' %}" href="{% url 'dashboard:reading_list' %}">Reading lists</a></li>
          <a class="nav-link {% active_link 'dashboard:followers' 'active' %}" href="{% url 'dashboard:followers' %}">Followers</a>
          <a class="nav-link {% active_link 'dashboard:following' 'active' %}" href="{% url 'dashboard:following' %}">following users</a>
          <li></li><a class="nav-link" href="{% url 'accounts:profile_detail' user.username %}">View Profile</a></li>
          <li><a class="dropdown-item {% active_link 'account_change_password' 'active' %}" href="{% url 'account_change_password' %}">Change Password</a></li>
        </ul>
      </div>
</div>
